<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153058631108-p5tqell92j0em3kvpn62v4no7uiko212.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153058631108-p5tqell92j0em3kvpn62v4no7uiko212</string>
	<key>API_KEY</key>
	<string>AIzaSyANpqAwGc9VqvWUFJTNUQTLK9mRSLu_bp0</string>
	<key>GCM_SENDER_ID</key>
	<string>153058631108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hazret.petilla</string>
	<key>PROJECT_ID</key>
	<string>petilla-app</string>
	<key>STORAGE_BUCKET</key>
	<string>petilla-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153058631108:ios:92aa098acd42a9c8631891</string>
</dict>
</plist>